@model Demo_Product.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>User Infos Edit Page</h1>
<form method="post">
    @Html.Label("Your Name")
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    @Html.Label("Your Surname")
    <input type="text" asp-for="Surname" class="form-control" />
    <br />
    @Html.Label("Your Gender")
    <input type="text" asp-for="Gender" class="form-control" />
    <br />
    @Html.Label("Your Email")
    <input type="text" asp-for="Email" class="form-control" />
    <br />
    @Html.Label("Your Username")
    <input type="text" asp-for="UserName" class="form-control" />
    <br />
    @Html.Label("Your Password")
    <input type="text" asp-for="Password" class="form-control" />
    <br />
    @Html.Label("Confirm Password")
    <input type="text" asp-for="ConfirmPassword" class="form-control" />
    <br />
    <button class="btn btn-warning">Save Changes</button>
</form>

